/* addToList styles */

.addToLists {
  position: absolute;
  right: 0;
}

a.roundButton {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}

.listMenu {
  position: relative;
  top: 10px;
  right: 10px;

}

.listMenu:active ul.listSubMenu, .listMenu:focus-within ul.listSubMenu {
  display: block;
}

ul.listSubMenu {
  display: none;
  position: absolute;
  right: 0;
  width: 120px;
  z-index: 100;
  font-size: 1.3rem;
   box-shadow: 0 10px 10px -5px;
}

.listMenu .listItem a {
  margin: 15px auto;
}

.listMenu .listItem {
  cursor: pointer;
}