/* HAM NAV STYLES */
input[type="checkbox"] {
  /*hide the input, we don't need to see it */
  display: none;
}

.listComponent {
  transition: all 0.8;
}
.toggle {
  align-self: start;
  position: fixed;
  left: 5%;
  top: 2vh;
  z-index: 100;
  cursor: pointer;
  display: none;
  padding: 10px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--accentColor);
  margin: 6px 0;
  transition: all 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* LOGO & Movie Search Magnifying Glass Styling */
.logoAndSearch {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  margin: 40px;
  color: #5F746C;
  transition: 0.3s;
}

.logoAndSearch a:hover {
  color: var(--hoverColor);
  cursor: pointer;
}

.logoAndSearch a:active {
  color: var(--accentColor);
}

.logoImg {
  width: 115px;
  margin-left: 30px;
}

@media (max-width: 840px) {
  .toggle {
    display:block;
  }
  input[type="checkbox"]:checked~.listComponent {
    left: 0;
    /*when the checkbox is checked, show the menu*/
  }
  .listComponent {
    position: fixed;
    z-index: 10;
    left: -100%;
  }
}