.movieSearchArea {
    width: 75%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movieSearchContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.movieSearchArea h1 {
    color: var(--mainColor);
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: bold;
    font-family: var(--headingFonts);
    margin-bottom: 70px;
}

.movieSearchForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.movieSearchBar {
    width: 100%;
    font-size: 2rem;
    height: 4rem;
    margin-bottom: 5rem;
    background: #e2ecea;
    padding: 2rem;
    border: none;
}

.movieSearchButton {
    align-self: center;
    cursor: pointer;
}

.movieSearchButton:active {
    background: var(--accentColor)
}


/* Media Queries for MOVIE SEARCH */

@media (max-width: 970px) {
    .movieSearchArea h1 {
        font-size: 4rem;
    }
}

@media (max-width: 840px) {
    .movieSearchArea {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 478px) {
    .movieSearchArea h1 {
        font-size: 3rem;
    }
}

@media (max-width: 385px) {
    .movieSearchArea h1 {
        font-size: 2.5rem;
    }
}

/* MOVIE POSTERS */

.moviePosterContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    margin: 20rem 0 0;
    justify-content: center;
}

.moviePoster {
    width: 20rem;
    margin: 1rem 0 0 1rem;
}

@media(max-width:1050px) {
    .moviePoster {
        width: 15rem;
    }
}

@media(max-width:801px) {
    .moviePoster {
        width: 20rem;
    }
}

@media(max-width:701px) {
    .moviePoster {
        width: 15rem;
    }
}

@media(max-width:535px) {
    .moviePoster {
        width: 20rem
    }
}

/* MOVIE DETAILS */

.movieDetails {
    margin: 5% 5%;
}

.movieDetails img {
    width: 40rem;
    max-height: 65rem;
}

.movieInfo {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 4rem
}

.detailTitle {
    color: var(--mainColor);
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: bold;
    text-align: left;
}

.detailsPage {
    display: flex;
    flex-direction: row;
}

.threeDetails {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
}

.description {
    text-align: left
}

.trailer {
    margin-top: 3rem
}

.watchVideo, .goBack {
    background: var(--accentColor);
    width: fit-content;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    color: inherit
}

.goBack {
    display: block;
    position: absolute;
    right: 5rem;
    top: 2rem
}

.watchVideo {
    color: inherit;
}

.addButton {
    display: block;
    width: 100%;
    height: 1.5%;
    margin: 1rem 5rem 1rem 0
}

@media(max-width:1125px) {
    .detailsPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem
    }
    .movieInfo {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 0;
    }
    .addButton {
        margin: 3rem 5rem 1rem 0
    }
}

@media(max-width:750px) {
    .threeDetails {
        flex-direction: column;
    }
}